@mixin box-sizing($box-model) {
    -webkit-box-sizing: $box-model; 
       -moz-box-sizing: $box-model; 
            box-sizing: $box-model;
}

@mixin flexbox() {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

@mixin flex-direction($direction) {
    -webkit-flex-direction: $direction;
       -moz-flex-direction: $direction;
        -ms-flex-direction: $direction;
            flex-direction: $direction;
}
  
@mixin justify-content($justify) {
    -webkit-justify-content: $justify;
       -moz-justify-content: $justify;
        -ms-justify-content: $justify;
            justify-content: $justify;
              -ms-flex-pack: $justify;
  }
  

*,
*:before,
*:after {
    @include box-sizing(border-box);
}

body,
#root {
    margin: 0%;
    padding: 0%;
}

a {
    text-decoration: none;
    color: #5da9e5;
}

button,
input,
select {
    outline: none;
}

.spinner {
    position: relative;
    top: 50vh; 
    left: 50%;
}

.Eorro-boundary_message {
    height: 400px;
    @include flexbox();
    @include flex-direction(column);
    @include justify-content(center);
    align-items: center;
}
