$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;

@mixin sm {
    @media screen and (max-width: #{$screen-sm-min}) {
        @content;
    }
 }
 
 @mixin md {
    @media screen and (max-width: #{$screen-md-min}) {
        @content;
    }
 }
 
 @mixin lg {
    @media (max-width: #{$screen-lg-min}) {
        @content;
    }
 }
 
 @mixin xl {
    @media (min-width: #{$screen-xl-min}) {
        @content;
    }
 }

.modal-layout{
    border: 1px solid;
    height: 100%;
    width: 100%;
    position: fixed;
    margin: 0;
    border: none;
}

.modal-window {
    width: 500px;
    min-width: 448px;
    height: 300px;
    border: 1px solid;
    position: fixed;
    top: 30%;
    left: 33%;
    border: none;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0px 0px 32px -13px rgba(0,0,0,0.75);
    animation: slideUp 0.3s ease-in-out;
    @include lg {
        left: 20%;
    }
    @include md {
        left: 10%;
    }
    @include sm {
        left: 5%;
        width: 200px;
    }
    .modal-close_btn {
        position: absolute;
        right: 5px;
        top: 5px;
        font-size: 22px;
        border: none;
        cursor: pointer;
        color: #5f6368;
        text-align: center;
        &:hover {
            border-radius: 50%;
            background-color: rgba(0,0,0,0.1);
        }
    }
    .modal-content {
        padding: 10px;
        height: 100%;
        .reminder-save_btn{
            position: absolute;
            bottom: 10px;
            right: 14px;
            font-size: 14PX;
            cursor: pointer;
            border-radius: 5px;
            background: #1a73e8;
            color: #fff;
            padding: 8PX 24px;  
        }
        input {
            color: #3c4043;
            font-family: sans-serif;
            font-weight: lighter;
            font-size: 22px;
            height: 28px;
            position: relative;
            top: 10px;
            left: 10px;
            width: 90%;
            border: none;
            border-bottom: 1px solid #dadce0;
            margin-bottom: 15px;
            &:focus {
                border-bottom: 2px solid #729df5;
                &::-webkit-input-placeholder {
                    opacity: 0;
                }
            }
        }
        p {
            color: #222;
            font-size: 14px;
            font-weight: 400;
            padding-left: 8px;
            line-height: 20px;        
        }
    }
}

@keyframes slideUp{
    from{
      opacity:0;
      bottom: -200px;
    }
    to{
      opacity:1;
      bottom:0;
    }
}